* {
	margin : 0px;
	padding : 0px;
}

body {
	background-color : #000000;
}

canvas#editor {
	position : absolute;
	top : 50%;
	left : 50%;
	background-color : #ffffff;
}

div#map {
	position : absolute;
	right : 5px;
	top : 5px;
	bottom : 5px;
	width : 75px;
	background-color : #ffffff;
}

div#slider {
	position : absolute;
	bottom : 0px;
	left : 0px;
	right : 0px;
	height : 100px;
	border : 1px solid #ff0000;
}

input,
button {
	position : absolute;
	width : 100px;
	left : 5px;
	height : 20px;
	border : none;
	text-align: center;
}

input#height {
	top : 5px;
}

input#globalspeed {
	top : 30px;
}

input#screenw {
	top : 55px;
}

input#screenh {
	top : 80px;
}

button#save {
	top : 105px;
	width : 47px;
}

button#reload {
	top : 105px;
	left : 57px;
	width : 48px;
}

button#private {
	top : 200px;
}

button#sergeant {
	top : 225px;
}

button#captain {
	top : 250px;
}

button#major {
	top : 275px;
}

button#add {
	top : 400px;
}

button#edit {
	top : 425px;
}

button#delete {
	top : 450px;
}

button.selected {
	background-color : #666666;
	color : #ffffff; 
}

input#speed {
	top : 475px;
}

input#pause {
	top : 500px;
}

